<div class="bg">
    <div class="container">
        <form #musicForm="ngForm" (ngSubmit)="save()">
            <input [(ngModel)]="music.title" #title="ngModel"
                type="text" name="title" placeholder="Title" autofocus required >
            <span class="error" *ngIf="title.dirty && title.invalid && title.errors.required">
                Insert a Title to continue
            </span>

            <input [(ngModel)]="music.artist" #artist="ngModel"
                type="text" name="artist" placeholder="Artist" required >
            <span class="error" *ngIf="artist.dirty && artist.invalid && artist.errors.required">
                Insert an Artist to continue
            </span>

            <input [(ngModel)]="music.duration" #duration="ngModel" min="1" max="20"
                type="number" name="duration" placeholder="Duration" required >
            <span class="error" *ngIf="duration.dirty && duration.invalid && duration.errors.required">
                Insert the Duration to continue
            </span>

            <input [(ngModel)]="music.genere" #genere="ngModel"
                type="text" name="genere" placeholder="Genere" required >
            <span class="error" *ngIf="genere.dirty && genere.invalid && genere.errors.required">
                Insert a Genere to continue
            </span>

            <input type="submit" value="Save" [disabled]="musicForm.invalid">
        </form>
    </div>
</div>
